.adm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: 1px;
  background-color: #505050;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 3rem;
  height: 50px;
  transition: background-color 1s linear, height 1s linear;
}
.adm-button:hover {
  height: 70px;
  justify-content:center;
  background-color: #7700c0;
}
.adm-button a{
  position:relative;
  top: 3px;
  color: #000000;
  transition: transform 1s;
}
.adm-button:hover a{
  transform: translateY(10px);
}
